*.gem
*.swp
.DS_Store
.analysis
.bundle/
.byebug_history
.jekyll-metadata
.ruby-gemset
.ruby-version
.sass-cache
.obsidian
/vendor
Gemfile.lock
_site
/_posts/_drafts
bin/
bbin/
coverage
gh-pages/
site/_site/
test/dest
tmp/*

*:Zone.Identifier
*dropbox.attrs