<!-- unnecessary file, however you can still use for comment section, e.g disqus -->
<!-- <script
  src="https://utteranc.es/client.js"
  repo="liwuqiong/blog_zh"
  issue-term="pathname"
  label="✨ comment ✨"
  theme="github-light"
  crossorigin="anonymous"
  async
></script> -->



<!-- https://utteranc.es/?installation_id=56747381&setup_action=install -->



<script src="https://giscus.app/client.js"
        data-repo="liwuqiong/blog_zh"
        data-repo-id="R_kgDOKtM1Vw"
        data-category="Announcements"
        data-category-id="DIC_kwDOKtM1V84Cj-Vg"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<!-- 
<script>
  let giscusTheme = localStorage.getItem("giscus-theme");
  let giscusAttributes = {
    "src": "https://giscus.app/client.js",
    "data-repo": "liwuqiong/blog_zh",
    "data-repo-id": "R_kgDOKtM1Vw",
    "data-category": "Announcements",
    "data-category-id": "DIC_kwDOKtM1V84Cj-Vg",
    "data-mapping": "pathname",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-theme": giscusTheme,
    "data-lang": "en",
    "crossorigin": "anonymous",
    "async": "",
  };
  
  let giscusScript = document.createElement("script");
  Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
  document.body.appendChild(giscusScript);
</script> -->



<!-- https://github.com/settings/installations/56783632 -->
<!-- https://giscus.app/zh-CN -->