// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 18px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// .noto-serif-sc {  
//   font-family: "Noto Serif SC", serif;  
//   // font-optical-sizing: auto;  
//   font-weight: 700; /* 使用粗体 */  
//   // font-weight: bold; /* 使用粗体 */  
//   font-style: normal;  
// }

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #0c0b0b;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #d1c5c5;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #191b20;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";

//   /* 在您的CSS文件中添加以下规则 */  
// .post-item-meta {  
//   margin-bottom: 15px; /* 您可以根据需要调整这个值 */  
// }

// /* 在您的CSS文件中添加以下规则 */  
// h3.post-item-title {  
//   margin-top: 15px; /* 您可以根据需要调整这个值 */  
// }

// .post-item-meta {  
//   text-align: right; /* 将文本内容右对齐 */  
// }  
  
// .post-date {  
//   display: inline-block; /* 将span转换为内联块级元素，以便响应text-align属性 */  
//   /* 您还可以根据需要添加其他样式，如margin或padding */  
// }



/* 自定义目录样式 */
.section-nav {
  // background-color: #fff;
  margin: 5px 0;
  padding: 10px 30px;
  // border: 1px solid #e8e8e8;
  border-radius: 3px;
  font-style:italic;
  // content: "•"; /* 添加实心圆点 */
  // color: #ccc; /* 设置圆点颜色 */
  list-style-type: disc; /* 实心圆点 */  
  // margin: 5px 0;         /* 上下外边距为5px，左右外边距为0 */  
  // padding-left: 10px;    /* 左内边距为10px，为标记留出空间 */  
  // font-size: 16px;       /* 字体大小设置为16px */  
}

.section-nav ul {  
  list-style-type: disc; /* 为所有ul元素设置实心圆点 */  
  padding-left: 20px;    /* 为ul元素添加左内边距，以显示标记 */  
  margin: 0;             /* 移除ul元素的默认外边距 */  
}  
